.carousel {
  position: relative;
  top: -130px;
  z-index: 1;
}

.carousel-img {
  height: 800px;
  object-fit: cover;
}

.carousel-caption h3 {
  font-size: 2.5rem;
}

.carousel-caption p {
  font-size: 1.25rem;
}
